.skillset-card-wrapper {
    height: 375px;
    background: var(--card-diagonal-gradient);
    border-radius: 24px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: default;
    position: relative;
}

.skillset-card-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    padding: 1px;
    background: var(--diagonal125-glare-gradient);
    opacity: 0.3;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }


.skillset-card {
    display: flex;
    flex-direction: column;
    margin: 32px;
    gap: 24px
}

.skillset-progress-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.skillset-progress-container .skill-progress-wrapper {
    width: 50px;
}

.skillset-body-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skillset-body-container p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.skillset-title-line {
    margin-top: 8px;
    width: 150px;
    opacity: 0.7;
    height: 1px;
    background: var(--horizontal-voyaro-glare-gradient);
}