.expertice-container {
    display: flex;
    flex-direction: column;
}

.title-tech-stack-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--aluminor--gray);
    text-align: center;
    padding: 0 24px 0 24px;
}

.title-tech-stack-wrapper p {
    max-width: 300px;
}

@media (max-width: 1000px) {
    .title-tech-stack-wrapper p {
        font-size: 18px;
    }
}

.figma-red {
    color: #ed7147;
}

.figma-light-red {
    color: #ef8b7b;
}

.figma-purple {
    color: #a16bf7;
}

.figma-blue {
    color: #71c8fa;
}

.figma-green {
    color: #64d796;
}


/* Grid System */

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-system {
    --max-width: var(--master-container-max-width);

    display: flex;
    position: relative;
    flex-direction: column;
}

.grid {
    background-color: var(--background--primary);
    --min-width: 250px;
    --grid-height: calc(var(--column-width) * var(--grid-rows));
    --grid-rows: 2;
    --grid-columns: 6;

    --grid-width: var(--max-width);
    width: var(--grid-width);
    height: var(--grid-height);
    display: grid;
    position: relative;
    --column-width: calc(var(--grid-width) / var(--grid-columns));
    --row-height: calc(var(--grid-height) / var(--grid-rows));
    grid-template-columns: repeat(auto-fit, var(--column-width));
    grid-template-rows: repeat(var(--grid-rows), var(--row-height));
    border: 1px solid var(--palendro);
}

.grid-item-sw {
    width: var(--column-width);
    height: var(--column-width);
    overflow: hidden;
    z-index: 2;
    display: block;
}

.grid-item-mw {
    width: calc(var(--column-width) * 2);
    height: var(--column-width);
    overflow: hidden;
    z-index: 2;
    display: block;
}

.grid-item-devider-area {
    height: 70px;
    width: var(--grid-width);
    border-right: 1px solid var(--palendro);
    border-left: 1px solid var(--palendro);
}

.grid-section-title {
    position: absolute;
    margin-left: 100px;
    margin-top: 0px;
}


/* Bottom grid */
.grid-large {
    min-height: 500px;
    width: var(--grid-width);
    display: grid;
    position: relative;
    border: 1px solid var(--palendro);
    grid-template-columns: 2fr 4fr;
}

.grid-cell-section-large {
    border-right: 1px solid var(--palendro);
    border-bottom: none;
}


.grid-item-large-left {
    display: flex;
}

.grid-item-large-right {
    display: block
}

.grid-item-animation-wrapper {
    display: flex;
    height: 100%;
}

@media (max-width: 600px) {
    .grid {
        --grid-rows: 4;
        --grid-columns: 3;
    }

    .grid-large {
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        padding-top: 100px;
    }
}

@media (max-width: 1000px) {
    .grid-large {
        padding-top: 100px;
        grid-template-columns: 1fr;
    }

    .grid-cell-section-large {
        border-bottom: 1px solid var(--palendro);
        border-right: none;
    }
}

@media (max-width: 500px) {
    .grid-large {
        padding-top: 150px;
    }

    .grid-cell-section-large {
        border-bottom: 1px solid var(--palendro);
        border-right: none;
    }
}

/* Guides */

.grid-cell-section {
    border-bottom: 1px solid var(--palendro);
    border-right: 1px solid var(--palendro);
}



.grid::before {
    content: "+";
    font-weight: 200;
    top: -19.5px;
    left: -8.5px;
    font-size: 26px;
    color: var(--spacero--gray);
    position: absolute;
    z-index: 3;
}

.grid-large::before {
    content: "+";
    font-weight: 200;
    top: -19.5px;
    left: -8.5px;
    font-size: 26px;
    color: var(--spacero--gray);
    position: absolute;
    z-index: 3;
}

.grid-cell-middle {
    border-bottom: 1px solid var(--palendro);
    border-right: 1px solid var(--palendro);
}

.grid-cell-last-row {
    border-right: 1px solid var(--palendro);
}


.grid-cell-last {
    border-bottom: 1px solid var(--palendro);
}


.grid-section-title p {
    z-index: 3;
    color: var(--aluminor--gray);
}

.grid-section-title p span {
    color: var(--velaro--text);
}