.frameworks-block-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    --frameworks-block-padding: 50px;
}

.frameworks-block-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--frameworks-block-padding);
    height: 100%;
}

.framework-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.frameworks-title {
    color: var(--aluminor--gray);
    margin: 0;
}