.bubble-button {
    padding: 4px 24px;
    color: var(--aluminor--gray);
    text-decoration: none;
    cursor: pointer;
    background: var(--background--secondary);
    border-radius: 999rem;
    transition: all 0.2s;
    border: none;
}

.bubble-button-hidden {
    background-color: transparent;
    color: transparent;
    padding: 4px 24px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 999rem;
    transition: all 0.2s;
    border: none;
}

.bubble-button:hover {
    background: var(--velaro--accent);
    color: var(--background--primary);
}
