.about-section-divider {
  min-width: 1px;
  height: 70%;
  background: var(--vertical-glare-gradient);
}

.about-text-container {
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .about-flex-container {
    flex-direction: column !important;
  }


  .about-flex-container img {
      width: 60%;
  }

  .about-section-divider {
    min-width: 100%;
    height: 1px;
    background: var(--horizontal-glare-gradient);
  }
}