.error-404-page-wrapper {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.error-404-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, var(--background--primary) 50%, var(--velaro--text) 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
  
.text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-clip: text;
    z-index: 1;
    font-size: 368px;
    font-weight: 700 !important;
    line-height: 150%;
    background: linear-gradient(to top left, var(--velaro--text) 50%, var(--background--primary) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (max-width: 800px) {
    .text-container {
    font-size: 200px;
    }
}

@media (max-width: 500px) {
    .text-container {
    font-size: 100px;
    }
}

@media (max-height: 800px) {
    .text-container {
    font-size: 100px;
    }
}

@media (max-height: 600px) {
    .error-content-container {
        flex-direction: row !important;
    }
}

.error-content-container {
    flex-direction: column;
    margin-top: var(--navbar-height);
    padding: 36px 36px 36px 36px;
    width: 100%;
    height: calc(100% - var(--navbar-height) - 36);
    z-index: 2;
}

.error-content-container p {
    margin: 0;
}