/* Hover text gradient */
@keyframes textShine {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 0;
    }  
    100% {
      background-position: 0 0;
    }
  }
  
.gradient-hover {
    transition: all 0.3s;
}

  .gradient-hover:hover {
    background: linear-gradient(
      to right,
      var(--velaro--light),
      var(--velaro--light),
      var(--velaro--accent),
      var(--velaro--light),
      var(--velaro--light)
  );
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s linear infinite;
  }

  .gradient-section-background {
    --geist-background-rgb: 0, 0, 0;
    --gradient-start-color: 125, 232, 240;
    --gradient-end-color: 48, 246, 130;
    --gradient-alpha: 0.15;
    background: linear-gradient(180deg, rgba(var(--geist-background-rgb), 255) 0, rgba(var(--geist-background-rgb), 0) 100%), linear-gradient(90deg, rgba(var(--gradient-start-color), var(--gradient-alpha)) 0, rgba(var(--gradient-end-color), var(--gradient-alpha)) 100%)
  }

  .gradient-section-background-radial {
    background: radial-gradient(40% 40% at 50% 48.55%, rgba(0, 188, 188, 0.28) 0%, rgba(0, 255, 68, 0.08) 67.71%, rgba(244, 244, 244, 0.00) 100%);
  }