.grid-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 25px 25px;
}

.buttons-flex-wrapper {
    max-width: 400px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px 12px;
}