.expertice-container {
    padding: 100px 0 0 0;
}

.title-tech-stack-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--aluminor--gray);
    text-align: center;
    padding: 0 24px 0 24px;
}

/* Grid System */

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-system {
    --max-width: 70vw;
    --min-width: 368px;
    --guide-width: 0px;
    --horizontal-margin: 2rem;
    --grid-system-width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: var(--max-width);
    min-width: var(--min-width);
    padding: var(--guide-width);
    background-color: var(--stroke--black);


}

.grid {
    background-color: var(--background--primary);
    --min-width: 250px;
    --height: calc(var(--column-width) * var(2));
    --grid-rows: 2;
    --grid-columns: 5;
    --cell-padding: 0px;

    --width: var(--max-width);
    width: var(--width);
    height: var(--height);
    display: grid;
    position: relative;
    --column-width: calc(var(--width) / var(--grid-columns));
    --row-height: calc(var(--height) / var(--grid-rows));
    grid-template-columns: repeat(auto-fit, var(--column-width));
    grid-template-rows: repeat(var(--grid-rows), var(--row-height));
    border: 1px solid var(--stroke--black);
}

.grid-item-sw {
    width: var(--column-width);
    height: var(--column-width);
    overflow: hidden;
    z-index: 2;
    grid-row: var(400);
    grid-column: var(200);
    display: block;
    padding: var(--cell-padding);
}

.grid-item-mw {
    width: calc(var(--column-width) * 2);
    height: var(--column-width);
    overflow: hidden;
    z-index: 2;
    margin-bottom: var(--guide-width);
    margin-right: var(--guide-width);
    grid-row: var(400);
    grid-column: var(200);
    display: block;
    padding: var(--cell-padding);
}


/* Guides */

.grid-cell-section {
    border-bottom: 1px solid var(--stroke--black);
    border-right: 1px solid var(--stroke--black);
}


.grid-cell-section::before {
    content: "+";
    font-weight: 200;
    top: -19.5px;
    left: -8.5px;
    font-size: 26px;
    color: var(--spacero--gray);
    position: absolute;
    z-index: 3;
}

.grid-cell-middle {
    border-bottom: 1px solid var(--stroke--black);
    border-right: 1px solid var(--stroke--black);
}

.grid-cell-last-row {
    border-right: 1px solid var(--stroke--black);
}


.grid-cell-last {
    border-bottom: 1px solid var(--stroke--black);
}