.carousel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carousel-arrow-wrapper {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.carousel-arrows-container {
    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
    gap: 10px;
}

.corousel-mobile-arrow-container {
    display: flex;
}

.carousel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50rem;
    border: 1px solid var(--stroke--black);
    cursor: pointer;
    transition: scale 0.2s ease;
}

.carousel-arrow-accent {
    background-color: var(--background--secondary) !important;
}

.carousel-arrow-accent svg * {
    stroke: var(--aluminor--gray) !important;
}

.carousel-arrow-accent:hover svg * {
    stroke: var(--velaro--accent) !important;
}

.carousel-arrow div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel-arrow svg * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    stroke: var(--spacero--gray);
}

.carousel-arrow:hover svg * {
    stroke: var(--aluminor--gray);
}

.carousel-arrow:active {
    scale: 0.8;
}

.carousel-bottom-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}