.app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 340px;
    background: var(--card-gradient);
    border-radius: 28px;
    padding: 32px 48px 32px 48px;
    background-size: 100% 300%;
    background-position: 100% 100%;
    transition: background-position 0.5s ease, scale 0.1s ease;
    gap: 24px
}

.app-card:hover {
    background-position: 100% 50%;
    scale: 1.05;
}


.card-icon-app-wrapper {
    text-align: center;
}

.card-icon-app-wrapper img {
    size: 90px;
    width: 90px;
}

.card-icon-app-wrapper p {
    margin: 0;
}

.card-body-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}