div.master-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background--primary);
}

div.master-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    --master-container-max-width: 1200px;
    max-width: var(--master-container-max-width);
}

@media (max-width: 1800px) {
    div.master-wrapper {
        --master-container-max-width: 70vw;
    }
}

@media (max-width: 400px) {
    div.master-wrapper {
        --master-container-max-width: 90vw;
    }
}