.section-title {
    color: var(--aluminor--gray);
    text-align: center;
}

.thanks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.thanks-section h1 {
    color: var(--aluminor--gray);
}

