.skill-progress-wrapper {
    max-width: 180px;
}

.skill-name {
    color: var(--aluminor--gray);
}

.grade-container {
    padding-top: 10px;
    text-align: center;
    color: var(--spacero--gray);
}