.home-page-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 70vh;
    cursor: default;
}

.headline-title {
    color: var(--aluminor--gray);
    padding: 0;
    margin: 0;
    line-height: 120px;
    font-size: 130px;
}

.colored-dot {
    color: var(--velaro--text);
  }

.title-secondary {
    font-size: 30px;
    color: var(--aluminor--gray);
    font-weight: 500;
}

.headline-subtitle-block {
    display: flex;
    align-items: center;
    gap: 34px
}

.horizontal-line-subtitle {
    background-color: var(--velaro--accent);
    height: 2px;
    width: 160px;
}

.subtitle-description {
    color: var(--velaro--text);
}

div.main-title-block {
    display: inline;
    justify-content: center;
    align-items: center;
}
