
.architecture-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

@media (max-width: 1000px) {
    .architecture-grid {
        grid-template-columns: 1fr;
    }
}

.architecture-col-wrapper {
    border-right: 1px solid var(--palendro);
}

.architecture-col {
    display: flex;
    flex-direction: column;
    padding: 64px 24px 0 24px;
}

.architecture-title {
    color: var(--aluminor--gray);
    text-align: center;
    margin: 0;
}


@media (max-width: 1000px) {
    .architecture-col-wrapper {
        border-right: 0px;
        border-bottom: 1px solid var(--palendro);
    }

    .architecture-col {
        padding: 24px 46px 24px 46px;
    }
}