.skillset-container {
    padding: 100px 0 0 0;
}

div.skill-box {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    padding: 28px 44px 28px 44px;
    height: 180px;
    gap: 32px;
}


@media (max-width: 1200px) {
    div.skill-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    div.skill-progress-wrapper {
        max-width: 120px;
    }

}