.modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    pointer-events: none;
}

.modal-container {
    display: flex;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 32px;
    border: 1px solid var(--background--secondary);
    z-index: 5;
    pointer-events: all;
    cursor: default;
}

.modal-wrapper {
    margin: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    justify-content: space-between;
    z-index: 4;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-container img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: cover;
    
}

.modal-close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--background--primary);
    border-radius: 16px;
    border: 1px solid var(--background--secondary);
    z-index: 10;
    cursor: pointer;
}

.modal-close:hover {
    background-color: var(--background--secondary);
}

.animated-background {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal-close div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}