.feedback-container {
    margin-top: 200px;
}

.feedback-wrapper {
    display: flex;
    gap: 26px;
}

.feedback-text-container {
    display: flex;
    flex-direction: column;
}

.feedback-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

@media (max-width: 1200px) {
    .feedback-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
}


@media (max-width: 800px) {

    .feedback-cards-container {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}